<nav class="navbar navbar-inverse" style="border-radius: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Drawer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if currentPage == "home" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Home {% if currentPage == "home" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="{% if currentPage == "draw" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('draw') }}">draw {% if currentPage == "draw" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="{% if currentPage == "svg" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('svg') }}">svg </a>
                </li>
                <li class="{% if currentPage == "svg_v2" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('svg2') }}">svg 2</a>
                </li>
                <li class="{% if currentPage == "polymer" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('polymer') }}">polymer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>