{% extends('layout.html.twig') %}
{% block content %}
    {% set seats = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %}
    {% set rows = [1,2,3,4,5] %}
    {% set sizeSeat = 25 %}
        <div class="col-xs-9">
            <div id="draw_container">
                <div id="blocks" data-count_rows="{{ rows|length }}" style="height: {{ rows|length  * 25 + 20}}px; width: {{ seats|length * 25 +20 }}px;" >
                    {% set top = 10 %}
                    {% for row in rows %}
                        {% set left = 10 %}
                        {% for seat in seats %}
                            <div class="row_{{ row }} seat" id="seat_{{ seat }}" style="left: {{ left }}px; top: {{ top }}px;" data-seat="{{ seat }}" data-row="{{ row }}">{{ seat }}</div>
                            {% set left = sizeSeat+left %}
                        {% endfor %}
                        {% set top = sizeSeat+top %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="display-event" class="form-group"></div>
            <hr>
            <div class="form-group">
                <label class="label_slider col">rotate <span id="counter_rotate">0°</span></label>
                <input type="text" class="slider_rotate" value="0">
            </div>
            <hr>
            <div class="form-group">
                <label class="label_slider col">A <span id="counter_a">0</span></label>
                <input type="text" class="slider_a col" value="0">
            </div>
            <hr>
            <div class="form-group">
                <label class="label_slider col">Column <span id="counter_column">< 10.5 ></span></label>
                <input type="text" class="slider_column col" value="10.5">
            </div>
            <hr>
        </div>
{% endblock %}
{% block customCSS %}
    <link href="{{ asset('lib/slider/css/slider.css') }}" type="text/css" rel="stylesheet">
    <style>
        #blocks{
            position: relative;
            padding: 5px;
            border: 2px dashed #ccc;
        }
        #draw_container{
            width: 100%;
            border: 1px solid #DDD;
            min-height: 900px;
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        .seat{
            width: 25px;
            height: 25px;
            text-align: center;
            background-color: #FFF;
            border: 1px solid #ddd;
            border-radius: 10px;
            position: absolute;
        }
        .seat:active{
            background-color: #ddd;
        }
        .form-group span{
            margin-left: 15px;
        }
    </style>
{% endblock %}
{% block customJS %}
    {% set sizeSeat = 25 %}
    <script
            src="https://code.jquery.com/jquery-3.2.0.min.js"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('lib/slider/js/bootstrap-slider.js') }}"></script>
    <script>
        $(document).ready(function () {
            var countRows = $('#blocks').data("count_rows");
            var countColumns = 20;
            var column = 10.5;
            var sizeSeat = {{ sizeSeat }};
            var A = 0;
            var setY = function(a){
                a = (a <0 ? a*-1 : a);
                var new_top = 0;
                var new_height = 0;
                for(var row = 1; row <= countRows; row ++){
                    $('.row_'+row+'.seat').each(function(index){
                        index-= column;
                        var y = a*(index*index);
                        new_top = parseInt(y+(row-1)*sizeSeat)+10;
                        $(this).css('top', new_top+"px");
                        new_height = (new_height< new_top ? new_top : new_height);
                    });
                }

                $('#blocks').css('height', new_height+35+'px');
            };
            var setRotate = function(angle) {
                $('#blocks').css('transform', 'rotate(' + angle + 'deg)');
                $('#blocks').css('-ms-transform:', 'rotate(' + angle + 'deg)');
                $('#blocks').css('-webkit-transform', 'rotate(' + angle + 'deg)');
                $('.seat').css('transform', 'rotate(' + angle*-1 + 'deg)');
                $('.seat').css('-ms-transform:', 'rotate(' + angle*-1 + 'deg)');
                $('.seat').css('-webkit-transform', 'rotate(' + angle*-1 + 'deg)');
            };

            $('#blocks').draggable();
            $('.seat').on('click', function(e){
                var row = $(this).data('row');
                var seat = $(this).data('seat');
                $('#display-event').html('Rang: '+row+'/Seat: '+seat);
            });
            $('.slider_a').slider({
                min: -5,
                max: 5,
                step: 0.01,
                value: 0
            }).on('slide', function(ev){
                A = $(this).val();
                $('#counter_a').html(parseFloat(A).toFixed(2));
                setY(A);
            });

            $('.slider_column').slider({
                min: 0,
                max: countColumns,
                step: 0.1,
                value: 10.5
            }).on('slide', function(ev){
                column = $(this).val();
                $('#counter_column').html('<'+parseFloat(column).toFixed(2)+'>');
                setY(A);
            });

            $('.slider_rotate').slider({
                min: -180,
                max: 180,
                step: 0.1,
                value: 0
            }).on('slide', function(ev){
                var angle = parseFloat($(this).val());
                $('#counter_rotate').html(angle.toFixed(2)+'°');
                setRotate(angle);
            });
        });
    </script>
{% endblock %}